@{
    ViewBag.Title = "Staff";
}
@Scripts.Render("~/Scripts/StaffViewModel.js")
<h2>Add a New Staff</h2>
<button>Add Staff</button>

<div class="v2-staff-add-div">
    <!---------DIV FOR STAFF ADD-----AJAX-->
</div>

<h3>Staff List</h3>
<div class="v2-staff-list-div">
    <!--------DIV FOR STAFF LIST-----AJAX UPDATE-->
<table id="v2-staff-list-table">
    <tr>
        <th>Staff ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th colspan="3">Action</th>
    </tr>
    <tbody>Loading Staffs.............</tbody>

</table>
</div>







<!------------------POP UP DIV------------------------------------------>
<div class="form-update">
    <form id="form-update-staff">
        <table id="table-update">
            <tr style="display:none;">
                <td><label>Staff ID</label></td>
                <td><input type="text" name="StaffId" id="StaffId" class="form-control" /></td>
            <tr>
                <td><label>First Name</label></td>
                <td><input type="text" name="FName" id="FName" class="form-control" /></td>
            </tr>
            <tr>
                <td><label>Last Name</label></td>
                <td><input type="text" name="LName" id="LName" class="form-control" /></td>
            </tr>
            <tr><td colspan="2"><button class="btn btn-info btn-block" type="submit" onclick="return UpdateDataBase()">Update</button></td></tr>
        </table>
    </form>
</div>



