@model RosteringSystem.Data.Models.StaffViewModel
@{
    ViewBag.Title = "Staff";
}
<h2>Index</h2>
<table>
@using (Html.BeginForm())
{
    <tr>
        <td></td>
        <td></td>
    </tr>
}
</table>


